<div class="col-sm-4">
                            <div class="link_footer">
                                <ul>
                                    <li><a href="/whoweare">Who we are</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="howslugrwork">How Slugr Works</a></li>
                                    <li><a href="/faq">FAQs </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sociomedia-footer">
                                <ul>
                                    <li>Follow us</li>
                                    <li><a href="https://www.facebook.com/" target="_blank"><img src="../home/scss/images/fb-icon.png"></a></li>
                                    <li><a href="https://in.linkedin.com" target="_blank"><img src="../home/scss/images/linkedin-icon.png"></a></li>
                                    <li><a href="https://twitter.com" target="_blank"><img src="../home/scss/images/twitter-icon.png"></a></li>
                                    <li><a href="https://www.youtube.com" target="_blank"><img src="../home/scss/images/youtube-icon.png"></a></li>
                                    <li><a href="https://www.instagram.com" target="_blank"><img src="../home/scss/images/instagram.png"></a></li>
                                </ul>
                            </div>
                        </div>