   <div class="container">
                <div class="navbg">
                    <nav class="navbar navbar-default navbar-fixed st-menu ">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                <a class="navbar-brand" href="/"><img src="scss/images/logo.png" alt="Logo"></a> </div>
                               
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="javascript:void(0)" > Where to next?</a></li>
                                    <li><a href="javascript:void(0)"> Create a Trip</a></li>               
                                    <li class="active">
                                        <a href="#"  class="lft-menu" data-toggle="modal" ng-click="openNav()">                  
                                            <img src="scss/images/menu-icon.png" alt="" >
                                        </a></li>
                                    <div id="mySidenav" class="sidenav">                
                                        <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
                                        <a href="#">About</a>
                                        <a href="#">Services</a>
                                        <a href="#">Clients</a>
                                        <a href="#">Contact</a>
                                        <a href="/home/logout" >Logout</a>
                                    </div>              
                                </ul>
                            </div>
                        </div>
                    </nav>      
                </div>
            </div>