 <!-- Header Section End Here --> 
  
  <!--  Section End Here -->
  <section class="inner-bg">
    <div class="smart-container">
      <div class="container">
          <div class="col-sm-12">
         <div class="heading">
          <h1>Blog<span></span><h1>        
        </div>
        </div>
              
      

<div class="container">
  <div class="all-post">
    <div class="row">
       
       <div class="container">
        <div class="row">
       
       

        <div align="center">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
            <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
            <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button>
        </div>
        <br/>



           

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
        
         
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
        
         
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
               
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
        
         
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
               
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
        
         
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
        
         
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
         
         
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
               
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
         
         
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
              
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
        
         
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
               
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                        <a href="" class="more-btn">View More</a>
                    </div>
                    <span class="blog-date">May 03, 2015</span>
                </div>
        
         
            </div>
        </div>
    </div>
</section>

         
            
                    
    </div>

    </div>
  </div>

                
      </div>
    </div>
  </section>